.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dropzone {
	background-color: rgb(250, 250, 250);
	margin: 1rem;
	border-radius: 1rem;
	width: 40rem;
	height: 10rem;
	align-items: center;
	cursor: pointer;
}
